* {
    margin: 0;
    padding: 0;
}

.resetLayout {
    padding: 0;
}

.wrapper {
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: auto;
    line-height: 1.42857;
    min-width: 1280px;
    padding-top: 10px;
    width: 100%;
}

.wrapperMB {
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: auto;
    line-height: 1.42857;
    min-width: 320px;
    padding-top: 5px;
    width: 100%;
}

.wrapper-panel-top {
    float: left;
    width: 100%;
}

.textright_paneltop {
    float: left;
    margin-left: 5px;
}

.link_logout_paneltop {
    color: #000;
    float: right;
    margin-right: 5px;
    text-decoration: none;
}

.link_logout_paneltop:hover {
    color: #2e6da4;
    text-decoration: underline;
}

.wrapper_left {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.logoLogin {
    margin: 0 auto 5px;
    width: 400px;
}

.logoLoginMB {
    margin: 0 auto 5px;
    width: 100%;
}

.titleLogoLogin {
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0 15px;
    width: 100%;
}

.titleLogoLoginMB {
    font-size: 85%;
    font-weight: bold;
    margin: 5px 0 15px;
    width: 100%;
}

.wrapper_main_status {
    min-width: 525px;
    text-align: center;
    width: 100%;
}

.group_notification_alertMB {
    text-align: center;
    width: 100%;
}

.tableGroupNotificationMB {
    margin: 0 auto;
    width: 100%;
}

.tableGroupNotificationMB img {
    width: 85%;
}

.table_main_status {
    margin: 0 auto;
    width: 80%;
}

.table_main_status img {
    width: 120px;
}

.AlertInfo {
    border: 1px dashed #000;
    color: red;
    font-size: 21px;
    height: 75px;
    line-height: 69px;
    margin: 25px auto 0;
    width: 425px;
}

.admin {
    border: 0;
}

.AlertInfoMB {
    border: 1px solid #000;
    float: left;
    font-size: 70%;
    height: auto;
    line-height: 36px;
    margin: 15px auto;
    text-align: center;
    width: 100%;
}

.AlertInfoMB-Noti-1 {
    float: left;
    width: 49%;
}

.AlertInfoMB-Noti-2 {
    border-left: 1px solid #000;
    float: left;
    width: 49%;
}

.AlertInfoMB-Noti-3 {
    border-top: 1px solid #000;
    float: left;
    width: 100%;
}

.tableLogin {
    margin: 0 auto;
}

.tableLoginMB {
    margin: 0 auto;
    width: 50%;
}

.form-controll-textLogin {
    background-color: #fff;
    border: 1px solid #555;
    border-radius: 6px;
    color: #555;
    display: block;
    height: 30px;
    margin-bottom: 12px;
    padding: 6px 12px;
    text-align: center;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 240px;
}

.form-controll-textLoginMB {
    background-color: #fff;
    border: 1px solid #555;
    border-radius: 6px;
    color: #555;
    display: block;
    height: 30px;
    margin-bottom: 12px;
    padding: 6px 12px;
    text-align: center;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 135px;
}

.btn_bottom_mobile {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 85px;
}

.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #000;
}

.btn-map-mobile {
    /*color: #ffffff;
    border-color: #130269;*/
}

.btn-map-mobile:hover,
.btn-map-mobile:focus,
.btn-map-mobile:active,
.btn-map-mobile.active,
.open .dropdown-toggle.btn-map-mobile {
    color: #ffffff;
    background-color: #6C41A3;
    border-color: #130269;
}

.btn-map-mobile:active,
.btn-map-mobile.active,
.open .dropdown-toggle.btn-map-mobile {
    background-image: none;
}

.btn-map-mobile.disabled,
.btn-map-mobile[disabled],
fieldset[disabled] .btn-map-mobile,
.btn-map-mobile.disabled:hover,
.btn-map-mobile[disabled]:hover,
fieldset[disabled] .btn-map-mobile:hover,
.btn-map-mobile.disabled:focus,
.btn-map-mobile[disabled]:focus,
fieldset[disabled] .btn-map-mobile:focus,
.btn-map-mobile.disabled:active,
.btn-map-mobile[disabled]:active,
fieldset[disabled] .btn-map-mobile:active,
.btn-map-mobile.disabled.active,
.btn-map-mobile[disabled].active,
fieldset[disabled] .btn-map-mobile.active {
    background-color: #73529C;
    border-color: #130269;
}

.btn-map-mobile .badge {
    color: #73529C;
    background-color: #ffffff;
}

.seismic_info_red {
    color: red;
    text-align: center;
    min-width: 265px;
}

.seismic_info_purple {
    color: #73529c;
    text-align: center;
    min-width: 255px;
}

.OtherInfoRight-panel-1 {
    border: 1px solid #000;
    padding: 13px;
}

.OtherInfoRight-panel-2 {
    border: 1px solid #000;
    margin-top: 1px;
    padding: 13px;
}

.panelButtonlogin {
    margin: 60px auto 0;
    position: relative;
    width: 640px;
}

.panelButtonloginMB {
    margin-top: 10px;
}

.panelLogin {
    margin: 25px auto 0;
    text-align: center;
    width: 100%;
}

.panelLoginMB {
    margin: 25px auto 0;
    text-align: center;
    width: 100%;
}

.wrapper_right {
    float: right;
    margin: 5px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
}

.wrapper-panel-left {
    float: left;
    width: 20%;
}

.wrapper-panel-right {
    float: left;
    width: 20%;
}

.wrapper-panel-center {
    float: left;
    width: 60%;
    margin-bottom: 25px;
}

.wrapperMB-panel-left {
    float: left;
    width: 2%;
}

.wrapperMB-panel-right {
    float: left;
    width: 2%;
}

.wrapperMB-panel-center {
    float: left;
    width: 96%;
    margin-bottom: 70px;
}

.tableInfoRight {
    border-collapse: collapse;
    color: red;
    font-size: 17px;
    height: 110px;
    text-align: center;
    width: 300px;
}

.tableInfoRight tr td {
    border: 1px solid #000;
}

.link-registerLogin {
    color: #000;
    float: right;
    font-size: 15px;
    text-decoration: none;
}

.link-registerLoginMB {
    color: #000;
    float: right;
    font-size: 13px;
    text-decoration: none;
}

.link-registerLogin:hover {
    color: #2e6da4;
    text-decoration: underline;
}

.spaceInLoginAdmin {
    float: left;
    height: 219px;
    width: 100%;
}

.footerLogin {
    bottom: 0;
    height: 30px;
    position: absolute;
    width: 100%;
}

.footerLogin img {
    height: 30px;
}

.footerLogin_mobile {
    bottom: 0;
    height: 20px;
    position: absolute;
    width: 100%;
}

.footerLogin_mobile img {
    height: 20px;
}

.imgKokakuin {
    float: left;
}

.imgSIP {
    float: right;
}

.sub_info {
    border-bottom: 1px solid #000;
    height: 40px;
    line-height: 39px;
}

.information_other_left_2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000 #000 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    float: left;
    width: 125px;
}

.sub_info_half {
    float: left;
    width: 50%;
}

.sub_info_half_boder {
    border-right: 1px solid #000;
}

.colorred {
    color: #ff0004;
}

.colorpurple {
    background-color: #73529c;
}

.colorpurplelight {
    background-color: #dcceef;
}

.cursorClick {
    cursor: pointer;
}

.cursorClick:hover {
    background-color: transparent;
    color: #f28627;
}

.panel_float_general {
    width: 100%;
    float: left;
    text-align: center;
}

.frame_map_image {
    border: 1px solid #000;
    width: 420px;
    padding: 5px;
    margin-top: 5px;
}

.guildeNewUser {
    position: absolute;
    right: 0;
    top: 8px;
}

#homeMap .table-responsive {
    padding-top: 5px;
}


/*-----------Css for mobile----------*/

#homeMap .nav li a {
    padding: 10px 5px;
}

.information_other_left_2MB {
    border: 1px solid #000;
    border-bottom: none;
    float: left;
    width: 100%;
    font-size: 100%;
}

.NotificationInfoMB {
    font-size: 70%;
    height: auto;
    line-height: 20px;
    margin: 10px auto;
    text-align: center;
    width: 100%;
}

.table_notification_MB {
    border-collapse: collapse;
    width: 100%;
}

.table_notification_MB td {
    border: 1px solid #000;
}

.sub_infoMB {
    border-bottom: 1px solid #000;
    height: 21px;
    line-height: 20px;
}

.sub_info_halfMB {
    float: left;
    width: 50%;
}

.AlertInfoMB p {
    margin: 0;
}

.panel_groupButtonTop_mobile {
    width: 20%;
    float: left;
}

.panel_groupButtonTop_mobile .btn_bottom_mobile {
    width: 100%;
    margin-bottom: 5px;
}

.panel_logo_mobile {
    width: 80%;
    float: left;
}