.state_color_red {
    background-color: #FF0012;
}

.state_color_darkred {
    background-color: #bc3835;
}

.state_color_orange {
    background-color: #f28627;
}

.state_color_darkorange {
    background-color: #f28627;
}

.state_color_yellow {
    background-color: #e7e700;
}

.state_color_darkyellow {
    background-color: #FFBE35;
}

.state_color_blue {
    background-color: #186097;
}

.state_color_darkblue {
    background-color: #196097;
}

.state_color_green {
    background-color: #789641;
}

.state_color_grey {
    background-color: #bdbdbd;
}

.settings_btn_color_grey {
    background-color: #bebebe;
}

.action_guide>tbody+tbody {
    border-top: 0;
}

.table {
    margin-bottom: 0;
}

.table>tbody>tr>td:not(.action_guide) {
    vertical-align: middle;
    text-align: center;
}

.table>thead>tr>th {
    vertical-align: middle;
    text-align: center;
}

.table {
    direction: rtl;
}

.table-bordered {
    direction: ltr;
    border: none;
}

.table-bordered>tbody>tr>td {
    border-color: #000;
}

.table-bordered>thead>tr>th {
    border-color: #000;
    border-bottom: 0;
}


/* #building .table-bordered > thead > tr > th {
    border-top: 1px solid #000;
}

#medical .table-bordered > thead > tr > th {
    border-top: 1px solid #000;
} */

.table-bordered>caption {
    border: 1px solid #000;
    color: #000;
}

.table-bordered .table_action_header {
    border-bottom: 0;
    text-align: center;
}

.table_action_header_red {
    background-color: red;
}

.table_action_header_orange {
    background-color: orange;
}

.table_action_header_green {
    background-color: green;
}

.table_action_header_blue {
    background-color: blue;
}

.info_title {
    border: 1px solid #000;
    width: 200px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.info_content {
    color: red;
    text-align: right !important;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 80px;*/
    color: #000;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 65px;
    background-color: #ffffff;
}

.header_content_padding {
    margin-top: 25px;
}

.train_icon {
    width: 45px;
    height: 45px;
}

.information_other_left {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    min-width: 260px;
    text-align: center;
    width: 100%;
}

.information_other_left_1 {
    border: 1px solid #000;
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
    width: 125px;
}

#menuMobile li {
    border: 1px solid #000;
}

a {
    color: #000 !important;
    text-decoration: none !important;
}

.nav-stacked>li:not(:first-child) {
    border-top: 1px solid #000;
}

.nav>li+li {
    margin-top: 0;
    margin-left: 0;
}

.nav-pills>li>a {
    border-radius: 0;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #000;
    background-color: #73529c;
}

#train .table-responsive {
    direction: rtl;
}

#train .table-bordered {
    direction: ltr;
}

#building .nav-pills>li {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

#building .nav-pills>li:first-child {
    border-left: 1px solid #000;
}

#building .table-responsive {
    direction: rtl;
}

#building .table-bordered {
    direction: ltr;
}

#medical .nav-pills>li {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

#medical .nav-pills>li:first-child,
#homeMap .nav-pills>li:first-child {
    border-left: 1px solid #000;
}

#homeMap .nav-pills>li {
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#medical .table-responsive {
    direction: rtl;
}

#medical .table-bordered {
    direction: ltr;
}

#damage .table-responsive {
    direction: rtl;
}

#damage .table-bordered {
    direction: ltr;
}

#damage .nav-pills>li {
    min-width: 200px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

#damage .nav-pills>li:first-child {
    border-left: 1px solid #000;
}

.damage_tab {
    border-bottom: 1px solid #000;
}

.table_dammage_resources {
    position: relative;
    float: left;
    width: 300px;
    padding-left: 0;
}

.table_dammage_resources>.table-bordered>tbody>tr>td {
    border-top: 0;
}

.table_dammage_people {
    position: relative;
    float: left;
    width: 200px;
    padding-left: 15px;
    padding-top: 37px;
}

#preventionInfo td,
#preventionInfo th {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.table_prevention_info>tbody>tr>td {
    border-top: 0;
}

.table_prevention_info .ng-invalid {
    border: 1px solid red !important;
}

.filters_padding {
    margin-left: 17px;
}

.wrapper_map {
    margin: 0 auto;
    position: relative;
    width: 80%;
}

.map_btn {
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    top: 5px;
}

.guidelines_btn {
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    top: 5px;
    left: -55px;
}

.estimation_btn {
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    top: 70px;
    left: -55px;
}

.map_btn,
.guidelines_btn,
.estimation_btn:hover {
    cursor: pointer;
}

.guidelines_btn:hover,
.estimation_btn:hover {
    background-color: #73529c;
}

.map_btn.active,
.map_btn:focus,
.map_btn:hover {
    background-color: #73529c;
}

#actionsGuide .table-responsive {
    direction: rtl;
}

.error_msg {
    color: red;
    border-bottom: 1px solid #000;
}

tbody>tr+.no_data {
    display: none;
}

.table_header {
    border: none;
}

.table_header>tbody>tr>td {
    border-bottom: none;
}

.table>thead:first-child>tr:first-child>th {
    border-top: 1px solid #000;
}

.border_right_none {
    border-right: 0 !important;
}

.border_left_none {
    border-left: 0 !important;
}

.table_dammage_resources {
    padding-left: 0;
}

.table_dammage_people {
    padding-top: 37px;
}

.table_prevention_info>tbody>tr>td {
    border-top: 0;
}

#preventionInfo td,
#preventionInfo th {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.display_none {
    display: none;
}

.display_block {
    display: block;
}

.border_color_red {
    border: 1px solid #ff0012;
}

.border_left {
    border-left: 1px solid #000 !important;
}

.table_header_caption {
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    border: 1px solid #000;
    border-bottom: none;
}

.history {
    display: none;
}

#history .table-responsive {
    max-height: 325px;
    /* overflow-x: visible; */
}

.history_color_bluegreen {
    background-color: #5bc0de;
}

.header_history_color_lightblue {
    background-color: #b7d0ff;
}

.header_history_color_lightpurple {
    background-color: #dfd3f1;
}

.table_cell_editable>table>tbody>tr>td,
.table_cell_editable>table>thead>tr>th {
    padding: 4px;
}