<!DOCTYPE HTML>
<html>
<head>
	<title>エリア災害対応支援アプリケーション</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<link rel="shortcut icon" href="/sip/public/images/SIP_logo2.png" />
	<link rel="apple-touch-icon" href="/sip/public/images/SIP_logo2.png" />

	<link rel="stylesheet" href="/sip/public/libs/bootstrap-3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/sip/public/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/sip/public/stylesheets/login.css">
	
	<script src="/sip/public/libs/jquery-1.12.3.min.js"></script>
	<script src="/sip/public/libs/sub_pub.js"></script>
	<script src="/sip/public/libs/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	<script src="/sip/public/libs/angular-1.5.8/angular.min.js"></script>
	<script src="/sip/public/libs/angular-1.5.8/angular-animate.min.js"></script>
	<script src="/sip/public/libs/ui-bootstrap-tpls-2.0.2.min.js"></script>

	<script src="/sip/public/javascripts/messages.js"></script>
	<script src="/sip/public/javascripts/common.js"></script>
</head>
<body>
	<div class="container-fluid resetLayout ">
	{{{body}}}
	</div>
</body>
</html>